<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div>{{title()}}</div>
    <div class="spacer"> </div>
    <div>
      @for (item of menuItems(); track $index) {
      <button color="accent" mat-button>{{item}}</button>
      }
      <button color="primary" mat-icon-button (click)="darkMode.set(!darkMode())">
        @if(darkMode()) {
        <mat-icon>light_mode</mat-icon>
        } @else {
        <mat-icon>dark_mode</mat-icon>
        }
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
