<div class="container">
  <app-header [title]="title()" />
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened>
      <mat-nav-list>
        <div mat-subheader>Navigation</div>
        @for (item of navItems(); track item.title) {
        <mat-list-item [routerLink]="item.route" [routerLinkActive]="item.title">
          <mat-icon [style.color]="'var(--mat-sys-primary)'" matListItemIcon>{{item.icon}}</mat-icon>
          <span [style.color]="'var(--mat-sys-primary)'" matListItemTitle>{{item.title}}</span>
        </mat-list-item>
        }
      </mat-nav-list>
      <mat-divider></mat-divider>
      <div mat-subheader>Density</div>
      <mat-radio-group color="primary" [formControl]="densityForm">
        @for (density of densities(); track density.value) {
        <mat-radio-button color="primary" [value]="density.value">{{density.title}}</mat-radio-button>
        }
      </mat-radio-group>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet />
    </mat-drawer-content>

  </mat-drawer-container>
</div>
